/* reset */

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'GmarketSansLight', sans-serif !important;
}

ul,
li,
dl,
dt,
dd {
    margin: 0 !important;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html body a {
    color: #1b1b1b;
    text-decoration: none !important;
}

.a11yHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
}

.clearfix {
    content: '';
    clear: both;
    display: block;
}

h1 {
    display: none;
}

.pointColor{
    color:#f5cc0f !important;
}

/* header */
header {
    width: 100%;
    background: #111;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 16;
}

header #mainMenu {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    height: 80px;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mainMenu ul li {
    float: left;
    padding: 0 30px;
}

#mainMenu ul li a {
    color: #fff;
    font-size: 18px;
    line-height: 18px;
}

#mainMenu ul li a:hover {
    color: #fff;
}

#mainMenu .search{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    background: #3d3d3d;
    margin-right: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#mainMenu .search input{
    height: 98%;
    line-height: 10px;
    outline: none;
    border: 0;
    width: 100%;
    max-width: 180px;
    padding: 0 8px;
}

#mainMenu .search button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    background: 0;
    border: 0;
}

#mainMenu .search button img{
    width:42%;
}



/* //header end */

/* main */
main {
    margin-top: 80px;
    width: 100%;
}

/* slide */
.carousel-control.right{
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,0) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-control.left{
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,0) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-control:focus, .carousel-control:hover{
    opacity: 0.8 !important;
}
/* //slide end */

/* itemMenu */
main #itemMenu {
    margin: 0 auto;
    width: 100%;
    background: #f9f9f9;
}

#itemMenu .menuList {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.menuList ul {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    align-items: center;
}

.menuList ul li a {
    color: #888;
}

.menuList ul li a:hover {
    color: #1b1b1b;
}
/* //itemMenu end */

/* itemList */
#item-list-container {
    max-width: 1370px;
    margin: 0 auto;
    width: 100%;
    padding: 100px 0;
}

#item-list-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

/* 삭제 
#itemList ul li {
    width: 300px;
    height: 300px;
    background: #f1f1f1;
    border: 1px solid #fff;
}
*/

