* {
    margin: 0;
}

#item-list-container {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    padding: 100px 0;
}

#item-list-container ul {
    display: flex;
    flex-wrap: wrap;
}

.movie-list-item {
    position: relative;
    text-align: center;
    width: 31.3%;
    margin: 1% !important;
    overflow: hidden;
    border-radius: 8px;
    max-height: 243px;
    /* float: left;
    max-height: 230px;
    height: 100%; */
}

.movie-list-item:hover .movie-list-item-img {
    transform: scale(1.2);
    /* margin: 0 30px; */
    opacity: 0.4;
    transition: 0.4s;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
    opacity: 1;
}

.movie-list-item-img {
    transition: all 0.3s ease-in-out;
    width: 100%;
    object-fit: cover;
}

.movie-list-item-title {
    color: #1b1b1b;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 35%;
    left: 50%;
    opacity: 0;
    transition: 0.5s all ease-in-out;
    transform: translate(-50%, -50%);
    width: 100%;
}

.movie-list-item-desc {
    color: #1b1b1b;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 47%;
    left: 50%;
    width: 100%;
    opacity: 0;
    transition: 0.5s all ease-in-out;
    transform: translate(-50%, -50%);
}

.movie-list-item-button {
    padding: 5px 18px 7px 18px;
    color: #1b1b1b;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 20%;
    left: 50%;
    opacity: 0;
    transition: 0.3s all ease-in-out;
    transform: translate(-50%, -50%);
    border: 1px solid #1b1b1b;
    background: 0;
}

.movie-list-item-button:hover{
    background:#1b1b1b;
    color:#fff;
    transition: 0.2s all ease-in-out;
}

/* 모달 */

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    z-index: 20;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modalPop {
    position: relative;
    background-color: rgba(255, 255, 255, 0.97);
    color: rgb(223, 223, 223);
    max-width: 600px;
    width: 100%;
    height: 90vh;
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.modal-clip {
    position: relative;
    width: 100%;
    height: 40%;
    border-radius: 5px 5px 0 0;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    color: #3b3b3b;
    padding: 20px 30px;
}

.modal-contents,.modal-comments {
    padding: 20px 30px;
    color: #666;
}

.modal-comments input{
    width: 80%;
    padding: 5px 10px;
    height: 36px;
    border: 1px solid #fff;
    border-radius: 5px;
    outline:none;
}

.modal-comments button{
    padding: 5px 10px;
    background-color: #3b3b3b;
    color: white;
    cursor: pointer;
    width: 18%;
    height: 36px;
    border: 1px solid #3b3b3b;
    float: right;
    border-radius: 5px;
}

.modal-close {
    position: absolute;
    color: white;
    top: 9px;
    right: 7px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 30px;
    font-size: 20px;
}
