@media screen and (max-width: 1280px) {

    #itemList {
        margin-left: -250px !important;
    }

}

/* //1280끝 */


@media screen and (max-width: 1024px) {

    #itemList {
        margin-left: 0px !important;
    }

}

/* //1024끝 */


@media screen and (min-width: 768px) {
    #mobileBtn {
        display: none !important;
    }

    #closeBtn {
        display: none !important;
    }
}


@media screen and (max-width: 767px) {
    header #mainMenu {
        justify-content: end;
    }
    header h1{
        width:30%;
    }

    header h1 img {
        width: 60%;
    }

    #mainMenu .search input {
        max-width: 140px;
    }

    #mainMenu .search button {
        width: 50px;
    }

    .carousel-indicators {
        z-index: 1 !important;
    }

    #item-list-container {
        padding: 50px 0;
    }

    .menuList ul li button{
        padding:15px 0;
    }
    .movie-list-item {
        width: 95%;
        max-height: 200px;
        margin: 2% auto !important;
    }

    #itemList {
        display: none;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.92);
        position: fixed;
        top: 0;
        z-index: 15 !important;
        padding: 50px;
    }

    #item-list-container ul{
        padding: 0 3%;
    }

    #mainMenu ul li {
        float: none;
        border-bottom: 1px solid #333;
    }

    #mobileBtn {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        height: 80px;
        padding: 0;
        background: 0;
        border: 0;
    }

    .btnTop,
    .btnMiddle,
    .btnBottom {
        display: block;
        width: 26px;
        height: 3px;
        margin: 5px auto;
        background: #fff;
        text-align: center;
    }

    #itemList.on {
        display: block;
        animation-name: fadeInAni;
        animation-duration: .8s;
        animation-timing-function: ease-out;
    }

    #itemList.off {
        visibility: hidden;
    }

    #mobileBtn {
        display: block;
        outline: none;
    }

    .menuClose {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        height: 80px;
        background: rgba(33, 55, 120, 0);
        border: 0;
        z-index: 16;
        outline: none;
    }

    .btnRight,
    .btnLeft {
        display: block;
        width: 28px;
        height: 3px;
        margin: 0 auto;
        background: #fff;
    }

    .btnRight {
        transform: translateY(50%) rotate(45deg);
    }

    .btnLeft {
        transform: translateY(-50%) rotate(-45deg);
    }

    .movie-list-item-button{
        bottom:10%;
    }
    .modalPop{
        width:80% !important;
    }
    .modal-comments input{
        width:70%;
    }
    .modal-comments button{
        width:25%;
        font-size: 14px;
        transition: .3s;
    }
    .modal-comments button:hover{
        background:#f5cc0f;
        font-size: 14px;
        border:0;
        transition: .2s;
    }
}

/* //767끝 */

/* 모바일용 햄버거 버튼 */