/* reset */
html {
    width: 100%;
    overflow-y: scroll;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'GmarketSansLight', sans-serif !important;

}

ul,
li,
dl,
dt,
dd {
    margin: 0 !important;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html body a {
    color: #1b1b1b;
    text-decoration: none !important;
}

.a11yHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
}

.clearfix {
    content: '';
    clear: both;
    display: block;
}

.container {
    padding: 0 !important;
    margin-top: 150px;
}

.pointColor {
    color: #f5cc0f !important;
}

/* header */
header {
    width: 100%;
    background: #111;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 16;
}

h1 {
    text-align: center;
    margin: 0 !important;
}

h1 img {
    width: 80%;
}

header #mainMenu {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    height: 80px;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

#itemList {
    margin-left: -300px !important;
}

#mainMenu ul li {
    float: left;
    padding: 0 25px;
}

#mainMenu ul li a {
    color: #fff;
    font-size: 16px;
    line-height: 16px;
}

#mainMenu ul li a:hover {
    color: #fff;
}

#mainMenu .search {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    background: #3d3d3d;
    margin-right: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#mainMenu .search input {
    height: 98%;
    line-height: 10px;
    outline: none;
    border: 0;
    width: 100%;
    max-width: 180px;
    padding: 0 8px;
}

#mainMenu .search button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    background: 0;
    border: 0;
}

#mainMenu .search button img {
    width: 42%;
}

/* //header end */

/* main */
main {
    margin-top: 80px;
    width: 100%;
}

/* slide */
.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, 0) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, 0) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-control:focus,
.carousel-control:hover {
    opacity: 0.8 !important;
}

.carousel-inner img{
    width:100%;
}
/* //slide end */

/* itemMenu */
main #itemMenu {
    margin: 0 auto;
    width: 100%;
    background: #333;
}

#itemMenu .menuList {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}

.menuList ul {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.menuList ul li{
    width:25%;
    text-align: center;
    overflow: hidden;
}

.menuList ul li button{
    color: #fff;
    padding: 30px 0;
    transition: .3s;
    width: 100%;
    border: 0;
    background: none;
    outline: none;
}

.menuList ul li button:hover {
    color: #f5cc0f;
    background:#111;
    transition: .2s;
}

/* //itemMenu end */

/* 회원가입 / 로그인 */
.signContent {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    float: none;
}

.signContent h1 {
    font-size: 24px;
    margin-bottom: 40px !important;
}

.jumbotron {
    background: #f5f5f5;
    padding: 68px 0;
}

.form-group {
    margin-bottom: 30px;
    outline-color: #f5cc0f !important;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
}

input::placeholder {
    color: #e0dede !important;
}

.lockArea {
    display: flex;
    justify-content: space-between;
}

.lockArea input {
    width: 70%;
}

.lockArea button {
    width: 25%;
    background: #111;
    color: #fff;
    border: 0;
    border-radius: 5px;
}

.lockArea button:hover {
    background: #f5cc0f;
    color: #fff;
}

.form-control {
    border: 0;
    height: auto;
    padding: 10px 12px;
    border-radius: 5px;
}

.btn-group {
    display: block;
}

.signContent .btn-group .btn {
    width: 50%;
    padding: 10px 12px;
    border-radius: 5px;
}

.btn-primary {
    background: #fff;
    color: #111;
    border: 1px solid #f5f5f5;
}

.lockBack {
    background: url(../img/lockBtn.png)no-repeat;
    background-position: 95% 50%;
}

.btn:active,
.btn.active {
    box-shadow: none;
}

.btn-primary:hover {
    background: #f5cc0f;
    border: 1px solid #f5cc0f;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open>.dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open>.dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open>.dropdown-toggle.btn-primary.focus {
    background: #f5cc0f;
    outline: none;
    border: 1px solid #f5cc0f;
}

.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background: #fff;
    color: #111;
    border: 1px solid #f5f5f5;
}

.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group {
    margin-left: 0;
}

.lastBtn {
    background: #111;
    color: #fff;
}

.lastBtn:hover {
    background: #f5cc0f;
    color: #fff;
}

/* footer */
#footer {
    background: #111;
}

#footer .footerArea {
    max-width: 1170px;
    width: 100%;
    display: block;
    margin: 0 auto;
    color: #fff;
    padding: 50px 5%;
}

.footerArea dl {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.footerArea dl dd a {
    color: #fff;
}

.footerArea dl dd a:hover {
    color: #f5cc0f;
}